#
#  .gitignore file for a2-cp3402-2019-team10
# 
#  Files to be excluded from the repository
#  
#  Note: you can also list files to be excluded 
#        only from your own copy of the repository
#        these should be listed in the file 
#        .git/info/exclude
#
#    
twentysixteen/
twentyseventeen/
twentynineteen/
index.php
mu-plugins/
plugins/
uploads/2011/
uploads/2012/
uploads/2013/
uploads/2014/
uploads/2015/
uploads/2016/
uploads/2017/
uploads/2018/
uploads/wp-staging/
