
$primary: #5533ff; // Thats a sample how you could change a BootStrap variable.
$font__sans: 'Stylish', sans-serif;
$font__serif: 'Baloo Bhai', cursive;
$header-bg-colour: #ffc000;
$color-primary-dark: #ffa000;