
body {
  background-image: linear-gradient(#FFFFC1, #EEEEEE);
}

h1, h2, h3, h4 {
  font-family: $font__serif, "Helvetica", Arial, serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

P {
  font-family: $font__sans, 'Montserrat', Arial, sans-serif;
}

.bg-primary {
  // variables declared in ./sass/theme/_theme_variables.scss
  // !important tag is needed when using variables

  background-color: $header-bg-colour!important;
}

.wrapper {
  padding: 0;
}

.post {
  padding: 2em 2em 2em 0;
}

.post-16 {
  padding: 2em 2em 2em 0;
}

#wrapper-footer {
  padding-bottom: 1em;
  text-align: center;
}

hr.wp-block-separator {
  background-image: url(../css/separator.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 12px;
  border: 0;
  padding: 2em 0;
}
